.splash-container
  %figure.splash-logo
    = image_tag "Exactli-logotag.png"

  .splash-main-image.clearfix
    .text-container
      %p.call Simple, user friendly, drawing review tool. Create accurate drawings with collaborative project team reviews.
      .splash-btn
        %a(href="#signup") Sign Up!
    .image-container
      = image_tag "exact_browser.png"


