.name-and-version-bar
  width: 100%
  background: #34336A
  height: 75px
  color: white
  font-size: 20pt
  position: relative

.anno-document-name
  height: 75px
  position: absolute
  top: 25px
  left: 25px
  .version-name
    font-size: 14pt

.version-drop-down
  position: absolute
  top: 25px
  right: 25px
  font-size: 8pt

.tool-bar
  background: #E0E0E0
  width: 100%
  height: 40px
  border-top: 1px solid #E0E0E0
  border-bottom: 1px solid #E0E0E0
  .tools
    width: 75%
    height: 100%
    margin: 0
    float: left
    h3
      display: inline-block
      margin: 0 auto
      padding-top: 10px
      padding-left: 35px
  .comments
    float: right
    width: 25%
    margin: 0
    height: 100%
    color: #34336A
    font-size: 12pt
    h3
      text-align: center
      color: #34336A
      font-size: 14pt
      margin: 0
      padding-top: 10px

.image-and-comments
  width: 100%
  height: 500px
  .image-container
    width: 75%
    height: 100%
    background: #686868
    margin: 0
    float: left
    .image
      width: 90%
      height: 86%
      padding: 0
      margin: 4.90% auto
      border: 1px solid red
      background: white
  .comments
    overflow: auto
    width: 24.8%
    height: 99.8%
    margin: 0
    float: left
    border-right: 1px solid black
    border-bottom: 1px solid black

.export-links
  display: inline-block
  margin: 0 auto
  padding-top: 5px
  padding-left: 35px
  padding-bottom: 5px
  button
    color: #34336A
    height: 20px
    font-size: 10pt
    font-weight: bold
