.splash-container
  width: 100%

.splash-logo
  height: 100px
  img
    margin-left: 100px
    width: 260px

.splash-main-image
  background: #34336A
  width: 100%
  img
    width: 600px
    float: left
  .text-container
    float: left
    width: 330px
    margin: 100px
    color: white

.splash-features
  width: 840px
  margin: 0 auto
  h1, h3, p
    text-align: center

.feature-box
  float: left
  width: 240px
  height: 250px
  margin: 20px
  img
    position: relative
    margin-left: 25%
    margin-right: 25%
    width: 50%

.how-it-works
  margin-top: 50px
  width: 100%
  background-image: url('../how2.png')
  height: 476px
  h1, p
    text-align: center
  img 
    margin-left: 25%
    margin-right: 25%
    width: 50%

.splash-sign-up-form
  margin-left: 42.5%
  margin-right: 42.5%
  margin-top: 10px
  margin-bottom: 50px
  width: 15%
  .splash-btn
    margin-top: 15px